

#person-table {
    max-width: 800px;
    width: 100%;
    text-align: middle;
    background-color: #e9e9e9;
    border: none;
    border-collapse: collapse;
}

#person-table tr {
    vertical-align: middle;
    transition: all 1s ease-in-out;
}

#person-table th, td {
    display: table-cell;
}

#person-table th {
    padding: 10px 5px;
    width: fit-content;
    font-size: 1.5rem;
    text-align: left;
    background-color: #5F05A3;
    color: #FFF;
    border-bottom: 3px solid #410370;
    
}

#person-table td {
    font-size: 1.3rem;
    text-align: left;
    color: #000;
    padding: 3px 10px;
    max-width: 40%;
}

#person-table tr:hover {
    background-color: rgb(253, 253, 253);
}

tr:nth-child(even) {
    background-color: #d6d6d6;
}

#person-table .th-icon {
    width: fit-content;
}

#person-table  .td-number {
    width: 70px;
}

#person-table .td-icon, .th-icon {
    width: 50px;
    text-align: center;
}

#person-table td div {
    justify-content: flex-start;
}

#person-table td input[type="text"] {
    width: 60%;
    margin: 0
}

#person-table td input[type="number"] {
    max-width: 50px;
}

#person-table td button {
    background-color: inherit;
    border: none;
    transition: all .2s ease-in-out;
    color: #000;
}

#person-table td button:hover {
    transform: scale(1.2);
}

#person-table .th-data span {
    cursor: pointer;
}

#person-table .th-data span:hover {
    color: rgb(235, 220, 255);
}

.row-error, .row-error:hover {
    background-color: #fdcccc !important;
}

#person-table td .row-error {
    color: rgb(150, 7, 7) !important;
}

#person-table .delete {
    background-color: rgb(245, 79, 79) !important;
    opacity: 0.1 !important;
}